HathawayMovie.avi filter=lfs diff=lfs merge=lfs -text
mfsf_dm_combined.avi filter=lfs diff=lfs merge=lfs -text
output_johnstack_short_lengthadapt3.avi filter=lfs diff=lfs merge=lfs -text
output_johnstack_short_lengthadapt4.avi filter=lfs diff=lfs merge=lfs -text
warp_neurons_nref100.avi filter=lfs diff=lfs merge=lfs -text
chris_paper_S1.mp4 filter=lfs diff=lfs merge=lfs -text
hydra_feeding.mp4 filter=lfs diff=lfs merge=lfs -text
hydra_feeding_short.mp4 filter=lfs diff=lfs merge=lfs -text
hydra_gcamp.mp4 filter=lfs diff=lfs merge=lfs -text
jellyfish.mp4 filter=lfs diff=lfs merge=lfs -text
jellyfish_nosound.mp4 filter=lfs diff=lfs merge=lfs -text
kalmanfilter.mp4 filter=lfs diff=lfs merge=lfs -text
kalmanfilter_slow.mp4 filter=lfs diff=lfs merge=lfs -text
mfsf_demo.mp4 filter=lfs diff=lfs merge=lfs -text
mfsf_dm_combined2.mp4 filter=lfs diff=lfs merge=lfs -text
mfsf_dm_combined.mp4 filter=lfs diff=lfs merge=lfs -text
mfsf_extend.mp4 filter=lfs diff=lfs merge=lfs -text
stk_0001-0008_trackedmesh.mp4 filter=lfs diff=lfs merge=lfs -text
tracking_video.mp4 filter=lfs diff=lfs merge=lfs -text
warp_neurons_nref100.mp4 filter=lfs diff=lfs merge=lfs -text
zebrafish.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
